.header-placeholder {
  height: 12.2rem;
}

.header {
  background-color: #fff;
  z-index: 300;
  top: 0;
  width: 100%;
  overflow-y: hidden;
}
.header__top {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top__navigation {
  font-size: 1.3rem;
  line-height: 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
}
.header__top__navigation .navigation-tab {
  padding-right: 0.9rem;
  line-height: 6rem;
  height: 100%;
  display: inline-block;
  font-size: 1.3rem;
  transition: all 0.32s ease-out;
}
.header__top__navigation .navigation-tab a {
  display: inline-block;
  height: 100%;
}
.header__top__logo {
  width: 8.2rem;
  height: 2.4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.header__top__nav ul {
  display: flex;
}
.header__top__nav ul .header-icon {
  margin-right: 0.8rem;
}
.header__top__nav ul .header-icon .input-search {
  width: 19.6rem;
  height: 2.3rem;
}
.header__top__nav ul .header-icon .input-search__wrapper .input-search__input-wrapper {
  width: 100%;
}
.header__top__nav ul .header-icon .input-search__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__top__nav ul .header-icon .input-search__wrapper .lib-header-components-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #757575;
}
.header__top__nav ul .header-icon .input-search__wrapper .lib-header-components-search .input-search-button {
  z-index: 1;
}
.header__top__nav ul .header-icon .input-search__border {
  display: block;
  height: 0.1rem;
  background-color: #b3b3b3;
  transition: background-color 0.24s;
}
.header__menu-placeholder {
  transition: all 0.1s;
  background-color: #fff;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}
.header__menu-placeholder .navigation-tab-second {
  padding-right: 0.9rem;
  line-height: 6rem;
  height: 100%;
  display: inline-block;
  font-size: 1.3rem;
  transition: all 0.1s;
}
.header__menu-placeholder .navigation-tab-second a {
  display: inline-block;
  height: 100%;
}
