.collection {
    &__page-content {
        margin: 2rem 2rem 4rem 2rem;

        .page-title {
            margin-top: 5.2rem;
            font-size: 4rem;
            line-height: 4.8rem;
            width: 100%;
            display: flex;
            justify-content: center;

            .multiline-text {
                font-size: 4rem;
                line-height: 4.8rem;
            }
        }

        .page-cover {
            margin: 0.8rem 0 0;

            &-wrapper {
                display: flex;
                flex-direction: column;
                max-width: 144rem;
                text-align: center;

                .page-cover__description {
                    max-width: 50rem;
                    text-align: center;
                    font-size: 1.3rem;
                    line-height: 2.1rem;
                    align-self: center;
                }
            }
        }

        .merchandisingFilters {
            margin-top: 6.4rem;

            .filters-bar-expanded {
                width: 100vw;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%);

                &__content {
                    margin: 0 4rem 1.6rem 4rem;
                    display: flex;
                    align-items: center;
                    flex: 1 1 100%;
                    padding-bottom: 1.6rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                    &__slider {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        width: 0;
                        border-left: 1px solid #000;

                        &__wrapper {
                            display: flex;
                            flex: 1;
                            width: 100%;

                            .filter-bar-items {
                                display: flex;
                                width: 85%;

                                .filter-bar-slider-wrapper {
                                    width: 100%;

                                    .smooth-slider {
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        position: relative;

                                        &__slider__content__children {
                                            display: flex;
                                            align-items: center;
                                            cursor: pointer;
                                            padding-left: 1.6rem;

                                            .selectCell__cell__title {
                                                text-transform: capitalize;
                                                font-size: 1.3rem;
                                                line-height: 2.1rem;
                                            }

                                            .selectCell__cell__icon {
                                                padding: 0 0 0 0.4rem;
                                            }

                                            .box {
                                                margin-right: 0.4rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &__right {
                        display: flex;
                        flex: 0;
                        align-items: center;

                        &__products-count {
                            font-size: 1.3rem;
                            line-height: 2.1rem;
                            color: #757575;
                            padding-left: 6.4rem;
                            white-space: nowrap;
                        }

                        .selectCell {
                            border-left: 1px solid #000;
                            display: flex;
                            align-items: center;
                            padding-left: 1.6rem;
                            margin-left: 1.6rem;
                            cursor: pointer;

                            &__cell__title {
                                font-size: 1.3rem;
                                line-height: 2.1rem;
                                white-space: nowrap;
                            }

                            .icon {
                                padding-left: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
