.footer {
    font-size: 1.3rem;

    &-newsletter-wrapper {
        padding: 4rem 4rem 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        position: relative;
        grid-column: 1/13;

        .footer-newsletter {
            width: 100%;
            grid-column: 1/13;

            &__title {
                font-weight: 700;
                font-size: 1.3rem;
                line-height: 2rem;
                display: block;
                width: 100%;
            }

            &__form {
                max-height: 150rem;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                -moz-column-gap: 2rem;
                column-gap: 2rem;
                grid-column: 1/13;

                &__left-container {
                    display: grid;
                    grid-template-columns: repeat(9, 1fr);
                    -moz-column-gap: 2rem;
                    column-gap: 2rem;
                    grid-column: 1/10;

                    .footer-newsletter__input {
                        .form-group {
                            position: relative;
                            margin: 0 0 1.2rem;
                            display: flex;
                            flex-direction: column;
                            position: relative;

                            .label-field {
                                display: block;
                                position: absolute;
                                top: 2rem;
                                color: #000;
                                font-size: 1.3rem;
                                line-height: 2.1rem;
                                transition: all 0.2s;
                            }

                            .input {
                                display: inline-flex;
                                align-items: center;
                                height: 4.6rem;
                                border-bottom: 1px solid #757575;

                                input {
                                    font-size: 1.3rem;
                                    line-height: 2.1rem;
                                    width: 100%;
                                    height: 100%;
                                    padding: 2rem 0 0.6rem;
                                }
                            }

                            .error-text {
                                color: #d70000;
                                margin-top: 3px;
                                font-size: 1.3rem;
                                line-height: 2.1rem;
                                text-align: left;
                            }
                        }
                    }

                    .footer-newsletter__left-container__email-field {
                        grid-column: 1/4;
                    }

                    .footer-newsletter__left-container__text-fields {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        -moz-column-gap: 2rem;
                        column-gap: 2rem;
                        grid-column: 4/10;
                        row-gap: 2rem;

                        &__civility-field {
                            grid-column: 1/4;

                            .form-group {
                                height: 4.6rem;
                                border-bottom: 1px solid #757575;

                                .title-field {
                                    color: #757575;
                                }

                                .custom-select-hzn {
                                    font-size: 1.3rem;
                                    line-height: 2.1rem;
                                    cursor: pointer;

                                    &-button {
                                        width: 100%;
                                        position: relative;

                                        .selected-option {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            position: absolute;
                                            top: 7px;
                                            width: 100%;
                                        }
                                    }

                                    &-options {
                                        background-color: #fff;
                                        border: 1px solid
                                            rgba(117, 117, 117, 0.3);
                                        max-height: 25.6rem;
                                        position: absolute;
                                        left: 0;
                                        top: 46.5px;
                                        width: 100%;

                                        li {
                                            padding: 0.8rem 2rem;
                                            width: 100%;
                                            border-top: none;
                                            border-right: none;
                                            border-bottom: none;
                                        }

                                        &__selected {
                                            border-left: 1px solid #000 !important;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }

                        &__name-fields {
                            display: grid;
                            grid-template-columns: repeat(1, 1fr);
                            -moz-column-gap: 2rem;
                            column-gap: 2rem;
                            grid-column: 4/7;
                            row-gap: 2rem;
                        }
                    }

                    .footer-newsletter__left-container__legal-mention {
                        font-size: 1.1rem;
                        line-height: 1.9rem;
                        grid-column: 1/7;
                        color: #757575;
                        text-align: justify;
                    }
                }

                &__right-container {
                    grid-column: 10/13;
                    padding-top: 2rem;
                    font-size: 1.3rem;
                    line-height: 2.1rem;

                    .checkbox-list {
                        .label-field {
                            margin: 0 0 1.2rem;
                            text-align: justify;
                        }

                        .choices {
                            font-size: 1.3rem;
                            line-height: 2.1rem;

                            .checkbox {
                                display: flex;
                                padding: 1.4rem 0.4rem;
                                cursor: pointer;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                width: 100%;
                                font-size: 1.3rem;
                                line-height: 2.1rem;
                                transition: all 0.2s;

                                .icon {
                                    margin: 0 0.4rem 0 0;
                                    cursor: default !important;
                                }
                            }
                        }
                    }

                    .actions {
                        margin-top: 1.6rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        -moz-column-gap: 2rem;
                        column-gap: 2rem;
                    }
                }
            }
        }
    }

    &__footer-sections {
        margin-top: 4rem;
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        li {
            display: flex;
            height: -webkit-min-content;
            height: -moz-min-content;
            height: min-content;
            vertical-align: top;

            .expandable-section {
                width: 100%;

                &__title {
                    display: block;
                    margin: 0 0 1.6rem;
                    font-weight: 700;
                }

                .store-locator-entry-form {
                    .store-locator-links {
                        li {
                            height: 4rem;
                            display: flex;
                            align-items: center;

                            .footer-link {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                line-height: 3.2rem;
                                transition: all 0.2s;
                                overflow-x: hidden;

                                &__title {
                                    height: 3.2rem;
                                    line-height: 3.2rem;
                                }

                                &__border-bottom {
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #757575;
                                    transition: left 0.2s;
                                    position: absolute;
                                    bottom: 0;
                                    left: -100%;
                                }

                                &:hover {
                                    color: #757575;

                                    .footer-link__border-bottom {
                                        left: 0;
                                    }
                                }

                                &__icon {
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }

                        .dropdown-subsection {
                            display: unset;

                            &__content {
                                transition: all 0.2s ease-out;

                                li {
                                    a {
                                        span {
                                            color: #757575;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
