.header-placeholder {
    height: 12.2rem;
}

.header {
    background-color: #fff;
    z-index: 300;
    top: 0;
    width: 100%;
    overflow-y: hidden;

    &__top {
        padding: 0 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__navigation {
            font-size: 1.3rem;
            line-height: 2rem;
            height: 6rem;
            display: flex;
            align-items: center;

            .navigation-tab {
                padding-right: 0.9rem;
                line-height: 6rem;
                height: 100%;
                display: inline-block;
                font-size: 1.3rem;
                transition: all 0.32s ease-out;

                a {
                    display: inline-block;
                    height: 100%;
                }
            }
        }

        &__logo {
            width: 8.2rem;
            height: 2.4rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &__nav {
            ul {
                display: flex;

                .header-icon {
                    margin-right: 0.8rem;

                    .input-search {
                        width: 19.6rem;
                        height: 2.3rem;

                        &__wrapper {
                            .input-search__input-wrapper {
                                width: 100%;
                            }
                        }

                        &__wrapper {
                            display: flex;
                            justify-content: space-between;

                            .lib-header-components-search {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.2rem;
                                color: #757575;

                                .input-search-button {
                                    z-index: 1;
                                }
                            }
                        }

                        &__border {
                            display: block;
                            height: 0.1rem;
                            background-color: #b3b3b3;
                            transition: background-color 0.24s;
                        }
                    }
                }
            }
        }
    }

    &__menu-placeholder {
        transition: all 0.1s;
        background-color: #fff;
        padding: 0 4rem;
        display: flex;
        align-items: center;

        .navigation-tab-second {
            padding-right: 0.9rem;
            line-height: 6rem;
            height: 100%;
            display: inline-block;
            font-size: 1.3rem;
            transition: all 0.1s;

            a {
                display: inline-block;
                height: 100%;
            }
        }
    }
}
