.bg-gradient-primary {
    background-color: #757575;
}

.container {
    .login-form {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        width: 100%;
        font-size: 1.3rem;

        .form-group {
            margin: 0 auto;
            padding: 0 20px;
            margin-bottom: 20px;

            .form-control {
                border-radius: 0;
                border: 1px solid #ccc;
                box-shadow: none;
                font-size: 1.5rem;
                line-height: 2.1rem;
                border: none;
                border-bottom: 1px solid black;
                height: 3.6rem;

                &:focus {
                    border-color: #ccc;
                }
            }
        }

        .btn-user {
            margin: 0 2rem;
        }
    }
}
